extends ../layout

block content
  div.mt-4
    if lista
      table.table.table-hover
        thead.table-info
          tr 
            th
              | Codigo
            th
              | Fecha
            th
        tbody 
          each item in lista
            tr
              td
                =item.codIngreso
              td
                =item.fecha
              td
                a(href=`/asistencia/list/${item.codIngreso}`) Ver
          
    div.d-grid.gap-2.d-md-block
      a(class="btn btn-primary" href="/asistencia/qr/create" role="button") Nuevo código
      a(class="btn btn-primary" href="/asistencia/qr" role="button" target="blank") Ver último