extends ../layout

block content
  div.mt-4.w-75.mx-auto
    if asistencia
      table.table.table-hover
        thead.table-info
          tr 
            th
              | Nombre y Apellido
            th 
              | Ingreso
            th
              | Salida
        each asis in asistencia
          tbody 
            tr
              td
                =asis.usuario.nombre + ", " + asis.usuario.apellido
              td
                =asis.horaIngreso
              td
                =asis.horaSalida
    else
      div.text-center
        p No hay resultados