extends ../layout

block content
  div(class="col-5")
    form(action="" method="POST")
      div(class="mb-3")
        label(for="mail" class="form-label") Mail
        if body
          input(class="form-control" type="text" name="mail" id="mail" value=body.mail required)
        else
          input(class="form-control" type="text" name="mail" id="mail" required)
      di(class="mb-3")
        label(for="pass" class="form-label") Contraseña
        input(class="form-control" type="password" name="pass" id="pass" required)
      div 
        input(type="submit" class="btn btn-primary" value="Entrar")
    if(result)
      div
        =result